body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Pixel Emulator";
  font-size: 70px;
  color: #700;
  text-shadow: 5px 2px #AA0;
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  margin: 0;
}

h2 {
  font-family: "Pixel Emulator";
  font-size: 80px;
  color: #700;
  text-shadow: 5px 2px #AA0;
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

h3 {
  font-family: "Pixel Emulator";
  font-size: 50px;
  color: #700;
  text-shadow: 5px 2px #AA0;
  text-align: center;
  padding-top: 50px;
  margin: 0;
}

#firstdiv{
  background: url("../img/giphy.gif");
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 800px;
  position: relative;
  left: 320px;
  top: 60px;
  border: 2px solid yellow;
  border-radius: 20%;
}

#space-invaders{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  width: 900px;
  margin: 0px 60px;
  padding-left: 110px;
  padding-top: 20px;

}

#score{
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.20);
  border: 3px solid white;
  margin: 0 20px;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 5px;
  color: white;
  font-family: "Pixel Emulator";
  position: absolute;
}

#lives{
  position: absolute;
  left: 500px;
  width: 300px;
  height: 40px;
  background: rgba(0, 0, 0, 0.20);
  border: 3px solid white;
  margin: 0 0 0 150px;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 5px;
  color: white;
  font-family: "Pixel Emulator";
}

#invaders{
  width: 650px;
  height: 235px;
  margin: 0px;
  position: absolute;
  top: 70px;
  left: 200px;
  z-index: 1;
}

.row0, .row1, .row2, .row3, .row4 {
  padding-top: 2px;
}

span {
  width: 39px;
  height: 40px;
  display: inline-block;
  margin: 0 10px;
}

.row0 span {
  background-image: url("../img/row 1.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.row1 span, .row2 span {
  background-image: url("../img/row 2.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

.row3 span, .row4 span {
  background-image: url("../img/row 3.gif");
  background-size: contain;
  background-repeat: no-repeat;
}


#spaceship{
  width: 75px;
  height: 40px;
  background-image: url('../img/player.png');
  background-size: contain;
  opacity: 0.6;
  background-repeat: no-repeat;
  position: absolute;
  top: 570px;
  left: 650px;
  border-radius: 20%;
}

hr {
  width: 980px;
  height: 0.5vh;
  background: green;
  position: absolute;
  top: 600px;
  left: 70px;
}

.shipFire {
  height: 20px;
  width: 5px;
  background: #FFA;
  position: absolute;
}

.invaderFire {
  height: 20px;
  width: 5px;
  background: #F22;
  position: absolute;
}

#btn {
  font-family: "Pixel Emulator";
  position: absolute;
  top: 200px;
  left: 40px;
  width: 160px;
  height: 120px;
  background: rgba(0, 0, 0, 0.80);
  color: #F00;
  font-size: 25px;
}

#instructions{
  font-family: "Pixel Emulator";
  position: absolute;
  top: 350px;
  left: 40px;
  width: 160px;
  height: 120px;
  background: rgba(0, 0, 0, 0.80);
  color: #F00;
  font-size: 16px;
}

#restart {
    font-family: "Pixel Emulator";
    position: absolute;
    top: 340px;
    left: 350px;
    width: 160px;
    height: 120px;
    background: rgba(0, 0, 0, 0.80);
    color: #F00;
    font-size: 25px;
}

#back {
  font-family: "Pixel Emulator";
  position: absolute;
  top: 340px;
  left: 350px;
  width: 160px;
  height: 120px;
  background: rgba(0, 0, 0, 0.80);
  color: #F00;
  font-size: 25px;
}

#gameover {
  font-family: "Spac3 tech";
  font-size: 120px;
  color: #700;
  text-shadow: 5px 2px #AA0;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}

.hidden {
  display: none;
}

/*CSS OF THE BUNKERS*/
#bunkers {
  position: absolute;
  top: 450px;
  margin-left: 170px;
  width: 900px;
}

.container {
  padding: 0;
  height: 90px;
  width: 100px;
  position: relative;
  display: inline-block;
  margin: 0 50px;
}

.solid {
  background: green;
  height: 20px;
  width: 20px;
  float: left;
}

.broke {
  height: 20px;
  width: 20px;
  float: left;
  opacity: 0;
}

.left-corner {
  border-radius: 45% 0 0 0;
}

.right-corner {
  border-radius: 0 45% 0 0;
}

.live0, .live1, .live2 {
  height: 20px;
  width: 30px;
  float: right;
  display: inline-block;
  margin: 5px 10px;
  position: relative;
  background-image: url('../img/player.png');
  background-size: contain;
  opacity: 0.6;
  background-repeat: no-repeat;
}

#game-over{
  font-family: "Pixel Emulator";
  height: 500px;
  width: 900px;
  border: 5px solid white;
  background: black;
  position: absolute;
  top: 100px;
  left: 250px;
  z-index: 1;
  text-align: center;
}

#how-to{
  font-family: "Pixel Emulator";
  height: 500px;
  width: 900px;
  border: 5px solid white;
  background: black;
  position: absolute;
  top: 100px;
  left: 250px;
  z-index: 1;
  text-align: center;
}

#go-back{
  font-family: "Pixel Emulator";
  position: absolute;
  top: 350px;
  left: 710px;
  width: 160px;
  height: 120px;
  background: rgba(0, 0, 0, 0.80);
  color: #F00;
  font-size: 25px;
}

.gameOverMessage {
  font-size: 110px;
  top: 300px;
  text-align: center;
}

.opacity {
  opacity: 0.7;
}
